{% extends 'base.html' %}
{% block title %}
    Сведения о получателе
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row w-100">
        <div class="col text-center d-flex">
            <div class="card mb-4 w-100 d-flex flex-column justify-content-between h-100">
                <div>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Электронная почта: {{ mailingrecipient.email }}</li>
                        <li>Фамилия Имя Отчество: {{ mailingrecipient.name }}</li>
                        <li>Комментарий: {{ mailingrecipient.comment }}</li>
                    </ul>
                </div>
                <div class="mt-auto mb-3">
                    <a href="{% url 'mailing:mailing_recipient_list' %}" class="btn btn-primary">К списку сообщений</a>

                        <a href="{% url 'mailing:mailing_recipient_update' mailingrecipient.pk %}" class="btn btn-warning">Редактировать</a>
                        <a href="{% url 'mailing:mailing_recipient_delete' mailingrecipient.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
