<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'mailing:home' %}">Сервис рассылок</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Рассылки</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a></li>
            <li><a class="dropdown-item" href="#">Отправленные рассылки</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'mailing:mailing_list' %}">Просмотреть рассылки</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Сообщения</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'mailing:message_create' %}">Новое сообщение</a></li>
            <li><a class="dropdown-item" href="#">Отправленные сообщения</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'mailing:message_list' %}">Просмотреть сообщения</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Получатели рассылок
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'mailing:mailing_recipient_create' %}">Новый получатель</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'mailing:mailing_recipient_list' %}">Просмотреть получателей</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mailing:attempt_send' %}">Попытки рассылок</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>